<script src="../template/navbar.js"></script>

<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper">

        <div style="font-family: 'Britannic Bold';color: black;"><center><h2>GpsUnit Registry</h2></center></div>

        <div class="main" style="margin-top: 1%">
            <!-- Content Here -->
            <span class="fa fa-plus-circle fa-1x pull-right" style="color: red;cursor:pointer" ng-click="new()" data-toggle="modal" data-target="#myModal"  aria-hidden="true">ADD</span>
            <!--<button type="button" class="btn btn-info btn-lg" style="float: right;"  data-toggle="modal" data-target="#myModal">New Bus</button>-->
            <br>

            <table class="table table-bordered">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Gps Name</th>
                    <th>UniqueId</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Data in filteredDoc">
                    <th scope="row">{{Data.id}}</th>
                    <td>{{Data.unitName}}</td>
                    <td>{{Data.uniqueid}}</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" data-dismiss="modal" ng-click="edit(Data)" data-toggle="modal" data-target="#myModal" style="color: red" aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" ng-click="delete(Data)" aria-hidden="true"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-if="!data.id">New Registration</h4>
                            <h4 class="modal-title" ng-if="data.id">Edit Registration</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form" name="myForm">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Unique Id:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputName" ng-model="data.uniqueid" placeholder="Unique Number" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Gps Name:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputName3" ng-model="data.unitName" placeholder="Gps Name" required>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" ng-if="!data.id" ng-click="add(data)" ng-disabled="myForm.$invalid" data-dismiss="modal">Save</button>
                            <button type="submit" class="btn btn-danger" ng-if="data.id" ng-click="Update(data)" ng-disabled="myForm.$invalid" data-dismiss="modal">Update</button>
                            <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->

        </div>

    </div>

    <div class="pager">
        <!-- Pagination -->
        <pagination class = "pager"
                    ng-model="curpage"
                    total-items="totalItems"
                    items-per-page="itemspage"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
        <!-- Pagination -->
    </div>

</div>