<script src="../template/navbar.js"></script>




<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper">

        <div style="font-family: 'Britannic Bold';color: black;"><center><h2>Trip Registry</h2></center></div>

        <div class="main" style="margin-top: 1%">
            <!-- Content Here -->
            <span class="fa fa-plus-circle fa-1x pull-right" style="color: red;cursor: pointer" ng-click="close()" data-toggle="modal" data-target="#myModal"  aria-hidden="true">ADD</span>
            <!--<button type="button" class="btn btn-info btn-lg" style="float: right;"  data-toggle="modal" data-target="#myModal">New Bus</button>-->
            <br>

            <table class="table table-bordered">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Trip</th>
                    <th>Session</th>
                    <th>Start</th>
                    <th>Dep</th>
                    <th>Route</th>
                    <th>Bus</th>
                    <th>Driver</th>
                    <th>Stops</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in filteredDoc">
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.trpName}}</td>
                    <td>{{data.trpSession}}</td>
                    <td>{{data.trpStart | date : "HH:mm"}}</td>
                    <td>{{data.trpEnd | date : "HH:mm"}}</td>
                    <td>{{data.rtName}}</td>
                    <td>{{data.busCode}}</td>
                    <td>{{data.drvName}}</td>
                    <td>
                        <button class="btn btn-warning" ng-hide="data.showStops" ng-click="showStops(data)">Stops/Time</button>
                        <div ng-show="data.showStops">

                            <li ng-repeat="stop in data.stops">
                                {{showValue(data,stop)}}
                            </li>

                        </div>
                    </td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" data-toggle="modal" data-target="#myModal" ng-click="Edit(data)" aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" ng-click="delete(data)" aria-hidden="true"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="myModal"   role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-if="!trip.id">New Registration</h4>
                            <h4 class="modal-title" ng-if="trip.id">Edit Registration</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form" name="myForm">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Trip:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputName3" ng-model="trip.trpName" placeholder="Trip Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Session:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="trip.trpSession" id="inputName4" placeholder="Session" required>
                                            <option value="">---SELECT---</option>
                                            <option ng-repeat="data in session">{{data}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Start:</label>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control" ng-value="trip.trpStart | date:'HH:mm'"  ng-model="trip.trpStart"
                                               placeholder="HH:mm:ss"  />

                                        <!--<input class="form-control" ng-model="trip.trpStart"  placeholder="Start" required>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Destination:</label>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control" ng-value="trip.trpEnd | date:'HH:mm'" ng-model="trip.trpEnd"
                                               placeholder="HH:mm:ss" required />
                                        <!--<input class="form-control" ng-model="trip.trpEnd"  placeholder="Dep" required>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Route:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="trip.rtId" ng-change="getStops()"  placeholder="Route" required>
                                            <option ng-value="0">--SELECT--</option>
                                            <option ng-value="data.id" ng-repeat="data in routeData">{{data.rtName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="stop in stops">
                                    <label for="inputName3" class="col-sm-4 control-label">{{stop.stpName}}</label>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control" ng-value="trip['stop_'+stop.id] | date:'HH:mm'" ng-model="trip['stop_'+stop.id]" id="time" placeholder="Time" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Bus:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="trip.busId" placeholder="Start" required>
                                            <option ng-value="0">--SELECT--</option>
                                            <option ng-value="data.id" ng-repeat="data in busRegData">{{data.busCode}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Driver:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="trip.drvId" placeholder="Driver" required>
                                            <option ng-value="0">--SELECT--</option>
                                            <option ng-value="data.id" ng-repeat="data in driveData">{{data.drvName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-10">
                                        <!--<button type="submit" ng-if="trip.id" ng-click="update(trip)" data-dismiss="modal" class="btn btn-danger">Update</button>-->
                                        <button type="submit"  ng-click="add(trip)"  data-dismiss="modal" class="btn btn-danger">SAVE</button>
                                    </div>
                                </div>


                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->

        </div>

    </div>
    <div class="pager">
        <!-- Pagination -->
        <pagination class = "pager"
                    ng-model="curpage"
                    total-items="totalItems"
                    items-per-page="itemspage"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
        <!-- Pagination -->
    </div>
</div>