<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Admin Panel</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav">
            <li ng-class="showSelectable('home')"><a href="/home"><i class="fa fa-home"></i> Dashboard</a></li>
            <li ng-class="showSelectable('gps')"><a href="/gpsUnitRegistration"><i class="fa fa-globe"></i> GPS unit</a></li>
            <li ng-class="showSelectable('bus')"><a href="/busRegistration"><i class="fa fa-bus"></i> Buses </a></li>
            <li ng-class="showSelectable('driver')"><a href="/driverRegistration"><i class="fa fa-id-card-o"></i> Drivers</a></li>
            <li ng-class="showSelectable('route')"><a href="/route"><i class="fa fa-road"></i> Routes </a></li>
            <li ng-class="showSelectable('trip')"><a href="/tripRegistration"><i class="fa fa-plane"></i> Trips </a></li>
            <li ng-class="showSelectable('student')"><a href="/studentRegistration"><i class="fa fa-graduation-cap"></i>  Students </a></li>
            <!--<li ng-class="showSelectable('#')"><a href="#"><i class="fa fa-user"></i> Profile</a></li>-->
            <li ng-class="showSelectable('report')"><a href="/reports"><i class="fa fa-cog"></i> Reports </a></li>
            <!--<li ng-class="showSelectable('settings')"><a href="/settings"><i class="fa fa-cog"></i> Settings </a></li>-->
            <!--<li ng-class="showSelectable('#')"><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>-->
            <li ng-class="showSelectable('#')"><a href="geofenceRegistration"><i class="fa fa-bell-o"></i> Geofence</a></li>
            <li ng-class="showSelectable('eventReport')"><a href="/eventReport"><i class="fa fa-bell-o"></i> Event Report</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> Notification <span class="badge">2</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">2 New Notifications</li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Bus Delay Alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Bus Out Of Coverage</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">View More <span class="badge">2</span></a></li>
                </ul>
            </li>
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="/settings"><i class="fa fa-gear"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="onLogout()"><i class="fa fa-power-off"></i> Log Out</a></li>

                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <form class="navbar-search">
                    <input type="text" placeholder="Search" class="form-control">
                </form>
            </li>
        </ul>
    </div>
</nav>