<script src="../template/navbar.js"></script>

<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper">

        <div style="font-family: 'Britannic Bold';color: black;"><center><h2>Driver Registry</h2></center></div>

        <div class="main" style="margin-top: 1%">
            <!-- Content Here -->
            <span class="fa fa-plus-circle fa-1x pull-right" style="color: red" data-toggle="modal" data-target="#myModal"  aria-hidden="true">ADD</span>
            <!--<button type="button" class="btn btn-info btn-lg" style="float: right;"  data-toggle="modal" data-target="#myModal">New Bus</button>-->
            <br>

            <table class="table table-bordered">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Driver Name</th>
                    <th>Driver Liscence</th>
                    <th>Mobile No</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" aria-hidden="true"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">New Registration</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Driver Name:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="data.driverName" id="inputName3" placeholder="Driver Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Driver Liscence:</label>
                                    <div class="col-sm-6">
                                        <input type="file"  class="form-control" ng-model="data.driverLiscence" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  onchange="angular.element(this).scope().uploadedLiscence(this)"/>
                                        <!--<input class="form-control" id="inputEmail3" ng-model="data.driverLiscence" placeholder="Driver Liscence">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Driver Photo:</label>
                                    <div class="col-sm-6">
                                        <input type="file"  class="form-control"   ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" id="fileInputs" onchange="angular.element(this).scope().uploadedFile(this)"/>
                                        <!--<input type="file" class="form-control" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
                                        <!--<input class="form-control" id="inputEmail4" placeholder="Driver photo">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3"  class="col-sm-4 control-label">Mobile No:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="data.mobNo" id="inputPassword3" placeholder="Mobile No">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Update</button>
                                        <button type="submit" ng-click="Save(data)" class="btn btn-danger">Save</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->

        </div>

    </div>

</div>