<script src="../template/navbar.js"></script>

<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper">

        <div style="font-family: 'Britannic Bold';color: black;"><center><h2>Driver Registry</h2></center></div>

        <div class="main" style="margin-top: 1%">
            <!-- Content Here -->
            <span class="fa fa-plus-circle fa-1x pull-right" style="color: red;cursor:pointer" ng-click="new()" data-toggle="modal" data-target="#myModal"  aria-hidden="true">ADD</span>
            <!--<button type="button" class="btn btn-info btn-lg" style="float: right;"  data-toggle="modal" data-target="#myModal">New Bus</button>-->
            <br>

            <table class="table table-bordered">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Driver Name</th>
                    <th>Driver Liscence</th>
                    <th>Driver Photo</th>
                    <th>Mobile No</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in filteredDoc">
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.drvName}}</td>
                    <td><img  class="img-responsive"  alt="Chania" width="70" height="30" ng-src="{{'uploads/driverLicense/'+data.drvLicence}}" alt="Description"/></td>
                    <td><img  class="img-responsive"  alt="Chania" width="70" height="30" ng-src="{{'uploads/driverPhoto/'+data.drvPhoto}}" alt="Description"/></td>
                    <td>{{data.drvMob}}</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="Edit(data)"  aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" aria-hidden="true" ng-click="delete(data)"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-if="!driverData.id">New Registration</h4>
                            <h4 class="modal-title" ng-if="driverData.id">Edit Registration</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Driver Name:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="driverData.drvName" id="inputName3" placeholder="Driver Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Driver Photo:</label>
                                    <div class="col-sm-6">

                                        <div ng-click="showFileDialog()" style="cursor: pointer;">
                                            <img id="image1" style="height:50px;width:50px;" ng-src="{{licence}}">
                                        </div>

                                        <input type="file" id="file" ng-hide="true" class="form-control"  ngf-pattern="'image/*'" name="file" accept="image/*" ngf-max-size="20MB"  onchange="angular.element(this).scope().uploadedFile(this)"/>
                                        <!--<input type="file" class="form-control" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
                                        <!--<input class="form-control" id="inputEmail4" placeholder="Driver photo">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Driver Licence:</label>
                                    <div class="col-sm-6">
                                        <div ng-click="chooseDriverLicence()" style="cursor: pointer;">
                                            <img id="image2" style="height:50px;width:50px;" ng-src="{{licence}}">
                                        </div>
                                        <input type="file" id="file1" ng-hide="true" class="form-control"   name="file1" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"  onchange="angular.element(this).scope().uploadedLiscence(this)"/>
                                        <!--<input class="form-control" id="inputEmail3" ng-model="data.driverLiscence" placeholder="Driver Liscence">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3"  class="col-sm-4 control-label">Mobile No:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="driverData.drvMob" id="inputPassword3" placeholder="Mobile No" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-10">
                                        <!--<button type="submit" ng-if="driverData.id" data-dismiss="modal" ng-click="update(driverData)" class="btn btn-danger">Update</button>-->
                                        <button type="submit"  ng-click="Save(driverData)" class="btn btn-danger" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->

        </div>

    </div>

    <div class="pager">
        <!-- Pagination -->
        <pagination class = "pager"
                    ng-model="curpage"
                    total-items="totalItems"
                    items-per-page="itemspage"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
        <!-- Pagination -->
    </div>

</div>