
<script src="'../../js/navbar.js'"></script>
<style>
    .angular-google-map {
        display: block;
    }

    .fullscreen {
        width: 100%;
        height: 100%;
    }


</style>

<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper"   fullscreen="isFullscreen">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <button class="pull-right" ng-click="toggleFullScreen()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>

                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Routes </h3>

                    </div>
                    <div class="panel-body">
                        <div class="form">

                            <div class="form-group">

                                    <button class="btn btn-success btn-responsive" id="routeCreator" data-target="#createRoute" data-toggle="modal" data-dismiss="modal"><i class="fa fa-road" aria-hidden="true"></i>Create Route</button>

                            </div>

                            <div class="form-group" >

                                <leaflet event-broadcast="events" tiles="tiles" paths="path" center="center" markers="markers" height="700px"></leaflet>

                            </div>


                        </div>



                    </div>

                </div>
                <div class="panel panel-primary">

                    <div class="panel-body">

                        <table class="table table-bordered">
                            <thead style="background-color: #337ab7">
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Route Name</th>
                                <th>Stops</th>
                                <th>Option</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="route in routes">
                                <th><input type="checkbox" ng-model="selectedRte" ng-click="routeSelected(route,selectedRte)"></th>
                                <th>{{route.id}}</th>
                                <td>{{route.rtName}}</td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Stop Name</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="stop in route.stops">
                                                <td>{{stop.id}}</td>
                                                <td>{{stop.stpName}}</td>
                                                <td>
                                                    <span ng-if="stop.id" class="fa fa-pencil-square fa-1x" style="color: red"  ng-click="editStop(stop)" aria-hidden="true"></span>
                                                    <span ng-if="stop.id" class="fa fa-window-close"  style="color: red" ng-click="deleteStop(stop)" aria-hidden="true"></span>
                                                    <span ng-if="!stop.id" class="fa fa-floppy-o" style="color: Green" ng-click="updateRoutes(route)" aria-hidden="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <span ng-if="route.id" class="fa fa-pencil-square fa-1x" style="color: red" ng-click="editRoute(route)" aria-hidden="true"></span>
                                    <span ng-if="route.id" class="fa fa-window-close"  style="color: red" ng-click="deleteRoute(route)" aria-hidden="true"></span>
                                    <span ng-if="!route.id" class="fa fa-floppy-o" style="color: Green" ng-click="updateRoutes(route)" aria-hidden="true"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <button type="submit" style="float: left" class="btn btn-danger" aria-hidden="true">Delete Selected</button>
                        </div>

                    </div>



                </div>

            </div>

            <!-- Stop Creation Modal -->

            <div ng-show="false">
                <button type="submit" id="markerCreator" data-target="#myModal" data-toggle="modal" data-dismiss="modal" class="btn btn-success" aria-hidden="true">Stop Creator</button><br><br>
            </div>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Stop Registration</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="myForm">
                                <div class="form-group">
                                    <label for="stopName" class="col-sm-4 control-label">Stop Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="stopName" ng-model="markerData.stpName"  placeholder="Stop Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lat" class="col-sm-4 control-label" >Latitude</label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" ng-model="markerData.lat" id="lat" placeholder="Latitude" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lat" class="col-sm-4 control-label" >Longitude</label>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" ng-model="markerData.lng" id="lng" placeholder="Longitude" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="time" class="col-sm-4 control-label" >Stop Time</label>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control" ng-value="markerData.stpTime" id="time" placeholder="Time" required>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled="myForm.$invalid" ng-click="updateStop()" aria-hidden="true">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Stop Creation Modal -->

            <!-- Route Creation Modal -->

            <div class="modal fade" id="createRoute" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Route Registration</h4>
                        </div>

                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="routeForm">
                                <div class="form-group">
                                    <label for="routeName" class="col-sm-4 control-label">Stop Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="routeName" ng-model="routeData.rtName"  placeholder="Route Name" required>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled="routeForm.$invalid" ng-click="updateRoute()" aria-hidden="true">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Route Creation Modal -->

        </div>

    </div>
</div>
