<script src="../template/navbar.js"></script>

<div id="wrapper">

    <div ng-include="'../../template/menu.html'"></div>

    <div id="page-wrapper">

        <div style="font-family: 'Britannic Bold';color: black;"><center><h2>Bus Registry</h2></center></div>

        <div class="main" style="margin-top: 1%">
            <!-- Content Here -->

            <span class="fa fa-plus-circle fa-1x pull-right" style="color: red;cursor:pointer" ng-click="new()" data-toggle="modal" data-target="#myModal" ng-click="add()" aria-hidden="true">ADD</span>
            <!--<button type="button" class="btn btn-info btn-lg" style="float: right;"  data-toggle="modal" data-target="#myModal">New Bus</button>-->
            <br>
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.<br><br>
                        <button type="submit" data-target="#myModal2" data-toggle="modal" data-dismiss="modal" class="btn btn-danger" ng-disabled="myForm.$invalid" ng-click="update(busdata)" aria-hidden="true">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
                    </div>


                  </div>
            </div>
            <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                        <div ng-if="successMsg!=''" class="alert alert-success">
                            <strong>Success!</strong> successfully Register.
                            <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
            </div>
            <table class="table table-bordered">
                <thead style="background-color: #337ab7">
                <tr>
                    <th>ID</th>
                    <th>Registration Name</th>
                    <th>Bus No</th>
                    <th>Gps Unit</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in filteredDoc">
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.regNo}}</td>
                    <td>{{data.busCode}}</td>
                    <td>{{data.unitName}}</td>
                    <td>
                        <span class="fa fa-pencil-square fa-1x" style="color: red" data-toggle="modal" data-target="#myModal" ng-click="edit(data)" aria-hidden="true"></span>
                        <span class="fa fa-window-close"  style="color: red" ng-click="delete(data)" aria-hidden="true"></span>
                        <span class="fa fa-gg-circle fa-1x" style="color: red" ng-click="openGeofence(data)" data-toggle="modal" data-target="#geofenceModal" ng-click="edit(data)" aria-hidden="true"></span>
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>-->
                        <!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button>-->

                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4  ng-show="busdata.id==null" class="modal-title">New Registration</h4>
                            <h4 ng-show="busdata.id!=null" class="modal-title">Edit Registration</h4>
                        </div>

                        <div class="modal-body">
                          <form class="form-horizontal" role="form" name="myForm">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Registration Number:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="inputName3" ng-model="busdata.regNo"  placeholder="Registration Number" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label" >Bus Number:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" ng-model="busdata.busCode" id="inputEmail3" placeholder="Bus Number" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gps" class="col-sm-4 control-label" >Gps Unit:</label>
                                    <div class="col-sm-6">

                                        <select ng-model="busdata.gpsUnit" class="form-control" id="gps">

                                            <option value="0">------SELECT GPS------</option>

                                            <option value="{{gps.id}}" ng-repeat="gps in gpsData">{{gps.unitName}}</option>

                                        </select>
                                    </div>
                                </div>
                          </form>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-show="busdata.id==null" data-target="#myModal2" data-toggle="modal" data-dismiss="modal" class="btn btn-danger" ng-click="update(busdata)" ng-disabled="myForm.$invalid" aria-hidden="true">Save</button>
                            <button type="submit" ng-show="busdata.id!=null" data-target="#myModal1" data-toggle="modal" data-dismiss="modal" class="btn btn-danger" ng-disabled="myForm.$invalid" aria-hidden="true">Confirm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->

            <!--geofence Modal -->
            <div class="modal fade" id="geofenceModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4  ng-show="busdata.id==null" class="modal-title">Geofences</h4>
                        </div>

                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead style="background-color: #337ab7">
                                <tr>
                                    <th>Sl No</th>
                                    <th></th>
                                    <th>Geofence Name</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="geofence in geofences">
                                    <th scope="row">{{$index+1}}</th>
                                    <td><input type="checkbox" ng-model="selGeofences[$index]"  ng-change="addGeofence(geofence,$index)"></td>
                                    <td>{{geofence.name}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="submit"  data-toggle="modal" data-dismiss="modal" class="btn btn-danger" ng-click="mapGeofenceToDevice(geofence)"  aria-hidden="true">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--geofence Modal -->

    </div>

    <div class="pager">
        <!-- Pagination -->
        <pagination class = "pager"
                    ng-model="curpage"
                    total-items="totalItems"
                    items-per-page="itemspage"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
        <!-- Pagination -->
    </div>


</div>